<meta charset="utf-8">
<meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!-- Optimize mobile viewport -->
<title>VTest</title>

<!-- bower:css -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<!-- endbower -->
<!-- endbuild -->


<!-- endbuild -->

<!--- custom css--->

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<!--
<link rel="stylesheet" href="/stylesheets/ui-lib-dashboard.min.css"></link>
<link rel="stylesheet" href="/stylesheets/build.css">
<link rel="stylesheet" href="/stylesheets/responsive.css">
-->
<!--end -->



